:root {
    --black: rgb(20, 20, 20);
    --white: rgb(206, 180, 180);
}

html,
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    line-height: 1.7;
    color: var(--black);
    margin: 0;
}

h1 {
    margin: 0;
}

#front-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,250,250, 0.9);
    transition: transform .7s ease-in;
}

.hide-front-page {
    transform: translateY(-100%);
}

#start-container::before { /* div to tie start-container's margin to height of browser window */
    display: block;
    content: "";
    height: 20%;
}

#start-container {
    text-align: center;
    width: 440px;
}

#form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.player {
    padding: 5px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player > * {
    margin: 10px;
}

/* line between each form */
.player-one {
    border-right: 1px solid var(--black);
}

.player-two {
    border-left: 1px solid var(--black);
}

.player input[name="name"] {
    width: 60%;
}

.player-one .is-human {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.player-two .is-human {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.is-human div {
    display: flex;
    flex-direction: column;
}

.difficulty {
    display: none;
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
}

.diff-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.symbols {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.symbol {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol-toggle {
    color: red;
}

#form-submit {
    margin-top: 10%;
    border: none;
    border-radius: 7px;
    background: rgb(223, 222, 222);
    padding: 2%;
    box-shadow: 1px 1px 4px rgb(163, 163, 163);
}

#form-submit:active {
    box-shadow: none;
}

#main-content {
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    background-color: var(--white);
}

header {
    padding: 20px;
}

header > * {
    margin: 10px;
}

#info-container {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

#info-container > * {
    display: flex;
    align-items: center;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 1px;
    background-color: black;
}

.game-grid > * {
    background-color: var(--white);
}

@media (min-width: 375px) {
    .symbols {
        width: 40%;
    }
}

@media (min-width: 750px) {
    .symbols {
        width: 30%;
    }
}