:root {
    --white: rgb(233, 233, 233);
    --black: rgb(37, 37, 37);
}

body {
    background: var(--white);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-box {
    width: 306px;
    height: 306px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 1px solid var(--black);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid var(--black);
    background: var(--white);
}

.cell:hover {
    background: rgb(198, 220, 230);
}